<form action="/listings/add_date" method="post">

  <label for="start_date">
    Start date: <input type="date" name="start_date" required>
  </label>

  <label for="end_date">
    End date: <input type="date" name="end_date" required>
  </label>

 <input type="submit" value="Ok">
</form>
