<head>
  <title>Add A Date</title>
</head>

<h3>Add available dates to your property</h3>

<form action="/listings/set_dates" method="post">

  <label for="start_date">
    Start date: <input type="date" name="start_date" required>
  </label>

  <label for="end_date">
    End date: <input type="date" name="end_date" required>
  </label>

  <input type = 'hidden' name = "listing_id" value = "<%= @listing_id %>" >

 <input type="submit" value="OK">
</form>
