<h2 class="content-head is-center">Your home has been successfully listed</h2>

<form action="/listings/add_date" method="post">
  <input type="submit" value="Add available dates" class="pure-button">
</form>

<form action="/home" method="get">
  <input type="submit" value="Return home" class="pure-button">
</form>
