<head>
  <title>MakersBnB</title>
</head>

<h3>Your home has been successfully listed </h3>

<form action="/home" method="get">
  <input type="submit" value="Return home">
</form>

 Visit your user profile to add dates
