<form action="/listings/search_listings" method="get">
<input type="submit" value="Search listings">
</form>


<form action="/listings/new" method="get">
<input type="submit" value="Add listing">
</form>
