<form action="/listings/:city" method="get">
    <label for="search_listings">
  <input type="text" name="city">
</label>
  <input type="submit" value="Search">
</form>


<form action="/listing/new" method="get">
<input type="submit" value="Add listing">
</form>
