<head>
  <title>List Property</title>
</head>

<h3>Create a property listing</h3>

<form action="/listings" method="post">
  <label for="street_address">
    Street Address: <input type="text" name="street_address" required>
  </label>
  <br>
  <label for="city">
    City: <input type="text" name="city" required>
  </label>
  <br>
  <label for="description">
    Description: <textarea name="description" cols="40" rows="5" maxlength="150" required>
    </textarea>
  </label>
  <br>
  <label for="price">
    Price per night: <input type="text" name="price" required>
  </label>
  <br>
  <input type="submit" value="Create listing">
</form>
