<head>
  <title>Search MakersBnB</title>
</head>

<h3>Search for a location to stay in</h3>

<form action="/listings/results" method="get">
  <label for="search_listings">
    Search by City: <input type="text" name="city">
    Search by a listing ID: <input type="text" name="listing_id">
  </label>
    <input type="submit" value="Search">
</form>
