nav {
  display: block;
}

nav ul {
    list-style: none;
}

#header nav {
    margin-top: 2em;
    float: right;
}

#header nav > ul {
    border: #ccc solid 1px;
    border-radius: 20px;
    padding: 0;
}

#header nav > ul > li {
    background: white;
    display: inline-block;
}
