<form action="/sign_up" method="post">
  <label for="first_name">
    First name: <input type="text" name="first_name" required>
  </label>
  <label for="last_name">
    Last name: <input type="text" name="last_name" required>
  </label>
  <label for="email">
    Email: <input type="email" name="email" required>
  </label>
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <label for="password_confirmation">
    Confirm password: <input type="password" name="password_contfirmation">
  </label>
  <input type="submit" value="Sign up">
</form>
