<head>
  <title>Sign Up</title>
</head>

<form action="/sign_up" method="post">
  <label for="first_name">
    First name: <input type="text" name="first_name" required>
  </label>
  <br>
  <label for="last_name">
    Last name: <input type="text" name="last_name" required>
  </label>
  <br>
  <label for="email">
    Email: <input type="email" name="email" required>
  </label>
  <br>
  <label for="mobile_number">
    Mobile number: <input type="text" name="mobile_number" maxlength="11">
  </label>
  <br>
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <br>
  <label for="password_confirmation">
    Confirm password: <input type="password" name="password_confirmation">
  </label>
  <br>
  <input type="submit" value="Sign Up">
</form>
