<head>
  <title>MakersBnB</title>
</head>

<h3>Enter your desired start and end dates </h3>

<form action="/requests/confirmation" method="post">
  <label for="start_date">
    Start date: <input type="date" name="start_date" required>
  </label>
  <label for="end_date">
    End date: <input type="date" name="end_date" required>
  </label>
  <input type = 'hidden' name = "listing_id" value = "<%= @listing_id %>" >
  <input type="submit" value="Make request">
</form>
