<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">makersBnB</h1>
        <p class="splash-subhead">
            Book unique homes and experience a city like a local.</br>
            Live there.
        </p>
        <p>
          <a href="listings/search_listings" class="pure-button pure-button-primary">Get Searching</a>
        </p>
        <p>
          <a href="/listings" class="pure-button pure-button-primary">View All Listings</a>
        </p>
    </div>
</div>
