<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>makersBnB</title>
    </head>
    <body>
      <nav>
        <ul>
          <li>
            <% if current_user %>
              <form action="/listings/new" method="get">
                <input type="submit" value="List a property">
              </form>
            <% end %>
          </li>
          <li>
            <% if current_user %>
              <form action="/users/profile" method="get">
                <input type="submit" value="Visit user profile">
              </form>
            <% end %>
          </li>
          <li>
            <% if current_user %>
              <form action="/sessions" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Sign out">
              </form>
            <% end %>
          </li>
          <li>
            <% if !current_user %>
              <% if !request.path_info.include?('/sessions') || request.path_info == '/sessions/delete' %>
                <form action="/sign_in_link" method='post'>
                 <input type="submit" value="Sign in">
               </form>
             <% end %>
            <% end %>
          </li>
          <li>
            <% if !current_user %>
              <form action="/users/new" method="get">
                <input type="submit" value="Sign up">
              </form>
            <% end %>
          </li>
      </ul>
    </nav>
    <% if flash[:notice] %>
      <h3><%= flash[:notice] %></h3>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id = 'errors'>
        <% flash[:errors].each do |error| %>
          <li> <%= error %> </li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>

    
    </body>
    </html>
