<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>makersBnB</title>
        <link href="/styles/style.css" rel="stylesheet">
    </head>
    <body>
      <header id="header">
        <nav>
          <ul>
            <li>
              <% if current_user %>
                <a href="/listings/new">List a property</a>
              <% end %>
            </li>
            <li>
              <% if current_user %>
                <a href="/users/profile">User profile</a>
              <% end %>
            </li>
            <li>
              <% if current_user %>
                <form action="/sessions" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Sign out">
                </form>
              <% end %>
            </li>
            <li>
              <% if !current_user %>
                <% if !request.path_info.include?('/sessions') || request.path_info == '/sessions/delete' %>
                  <a href="/sessions/sign_in">Sign In</a>
               <% end %>
              <% end %>
            </li>
            <li>
              <% if !current_user %>
                <a href="/users/new">Sign Up</a>
              <% end %>
            </li>
        </ul>
      </nav>
    <header>
    <% if flash[:notice] %>
      <h3><%= flash[:notice] %></h3>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id = 'errors'>
        <% flash[:errors].each do |error| %>
          <li> <%= error %> </li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>


    </body>
    </html>
